<html>
    <head>
        <title>Customer</title>
    </head>
    <body>
        <h1>Customer Details</h1>
            <form action="/login/customer/add/database"  method="get">
            customer name <input name="cname" type="text"> <!-- pass to database-->
            <br><br>
            cid <input name="cid" type="text">
            <br><br>
            Ph no <input name="ph" type="number">
            <br><br>
            
            
            <input type="submit" value="Create Customer">
            </form>
            
            
        
    </body>
</html>