<html>
    <head>
        <title>Customer</title>
    </head>
    <body>
        <h1>Customer Details</h1>
        <left>
            <form action="/login/customer/cart/existing"  method="get">
            customer name <input name="cname" type="text">
            <br><br>
            
            cid <input name="cid" type="text">
            <br><br>
            Ph no <input name="ph" type="tel">
            <br><br>
            <input type="submit" value="Next">
            </form>
            
            
            <form action="/login/customer/add"  method="get">
            <input type="submit" value="Add Customer">
            </form>
            
            
            
        </left>
    </body>
</html>